﻿body, button, input, select, textarea {
	font-family: '微软雅黑', tahoma, Arial, helvetica, sans-serif;
}
body {
	padding: 40px 0 0 0;
}
a { 
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:focus {
	outline: none;
}
h1,
h2,
h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
	font-weight: normal;
}
h1 {
	font-size: 2.0em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.0em;
	font-weight: bold;
}
/* end css reset */
.statistic h3 {
	margin: 0;
}
.data {
	border-right: 1px solid #eee;
}
.data table td,
.data table tbody {
	border: none;
}
.data table tbody tr:first-child td {
	padding-top: 25px;
}
/* end statistic */